{
  "openapi": "3.0.0",
  "info": {
    "title": "Hubspot API v1",
    "description": "Partial implementation of Hubspot API v1 for endpoints not already implemented in Hubspot v3.\n\nPlease contact the Meta API team if need more endpoints",
    "contact": {
      "name": "Meta API",
      "url": "https://www.meta-api.io"
    },
    "version": "1.0",
    "x-logo": {
      "url": "https://logo.clearbit.com/hubspot.com"
    }
  },
  "servers": [
    {
      "url": "https://api.hubapi.com",
      "variables": {}
    }
  ],
  "paths": {
    "/contacts/v1/lists/{list_id}/contacts/all": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "list_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get contacts in a list",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "addedAt",
                          "vid",
                          "canonical-vid",
                          "portal-id",
                          "is-contact"
                        ],
                        "properties": {
                          "addedAt": {
                            "type": "number"
                          },
                          "vid": {
                            "type": "number"
                          },
                          "canonical-vid": {
                            "type": "number"
                          },
                          "merged-vids": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          },
                          "portal-id": {
                            "type": "number"
                          },
                          "is-contact": {
                            "type": "boolean"
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "firstname": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "value"
                                ]
                              },
                              "lastmodifieddate": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "value"
                                ]
                              },
                              "company": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "value"
                                ]
                              },
                              "lastname": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "value"
                                ]
                              }
                            },
                            "required": [
                              "firstname",
                              "lastmodifieddate",
                              "company",
                              "lastname"
                            ]
                          },
                          "form-submissions": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          },
                          "identity-profiles": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "required": [
                                "vid",
                                "saved-at-timestamp",
                                "deleted-changed-timestamp"
                              ],
                              "properties": {
                                "vid": {
                                  "type": "number"
                                },
                                "saved-at-timestamp": {
                                  "type": "number"
                                },
                                "deleted-changed-timestamp": {
                                  "type": "number"
                                },
                                "identities": {
                                  "type": "array",
                                  "uniqueItems": true,
                                  "minItems": 1,
                                  "items": {
                                    "required": [
                                      "type",
                                      "value",
                                      "timestamp"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "value": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "timestamp": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "merge-audits": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "has-more": {
                      "type": "boolean"
                    },
                    "vid-offset": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "contacts",
                    "has-more",
                    "vid-offset"
                  ],
                  "x-examples": {
                    "example-1": {
                      "contacts": [
                        {
                          "addedAt": 1479505144498,
                          "vid": 3006574,
                          "canonical-vid": 3006574,
                          "merged-vids": [],
                          "portal-id": 62515,
                          "is-contact": true,
                          "properties": {
                            "firstname": {
                              "value": "Codey"
                            },
                            "lastmodifieddate": {
                              "value": "1478203760401"
                            },
                            "company": {
                              "value": "HubSpot"
                            },
                            "lastname": {
                              "value": "Huang"
                            }
                          },
                          "form-submissions": [],
                          "identity-profiles": [
                            {
                              "vid": 3006574,
                              "saved-at-timestamp": 1477944287758,
                              "deleted-changed-timestamp": 0,
                              "identities": [
                                {
                                  "type": "EMAIL",
                                  "value": "testingapis@hubspot.com",
                                  "timestamp": 1477944287611
                                },
                                {
                                  "type": "LEAD_GUID",
                                  "value": "5ba8abce-3835-4b11-a1e6-3d1bcb01a431",
                                  "timestamp": 1477944287754
                                }
                              ]
                            }
                          ],
                          "merge-audits": []
                        },
                        {
                          "addedAt": 1479505144501,
                          "vid": 3057124,
                          "canonical-vid": 3057124,
                          "merged-vids": [],
                          "portal-id": 62515,
                          "is-contact": true,
                          "properties": {
                            "lastmodifieddate": {
                              "value": "1479505114122"
                            }
                          },
                          "form-submissions": [],
                          "identity-profiles": [
                            {
                              "vid": 3057124,
                              "saved-at-timestamp": 1479505110714,
                              "deleted-changed-timestamp": 0,
                              "identities": [
                                {
                                  "type": "EMAIL",
                                  "value": "test2@hubspot.com",
                                  "timestamp": 1479505110679
                                },
                                {
                                  "type": "LEAD_GUID",
                                  "value": "4ac59265-c366-48c6-95dc-001e8ff181b0",
                                  "timestamp": 1479505110710
                                }
                              ]
                            }
                          ],
                          "merge-audits": []
                        }
                      ],
                      "has-more": false,
                      "vid-offset": 3057124
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-contacts-v1-lists-list_id-contacts-all",
        "description": "\n\nThis endpoint will return a list of contacts on a particular list (identified by its unique ID) in a given account.\n\nUse case for this endpoint: HubSpot customers generally use lists to group similar contacts together for marketing automation. However, for an integration, you'll likely want to create a list before you get contacts from it.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "count",
            "description": "This parameter lets you specify the amount of contacts to return in your API call. The default for this parameter (if it isn't specified) is 20 contacts. The maximum amount of contacts you can have returned to you via this parameter is 100."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Used to page through the contacts. Every call to this endpoint will return a vid-offset value. This value is used in the vidOffset parameter of the next call to get the next page of contacts.",
            "name": "vidOffset"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "property",
            "description": "If you include the \"property\" parameter, then the properties in the \"contact\" object in the returned data will only include the property or properties that you request."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "propertyMode",
            "description": "One of “value_only” or “value_and_history” to specify if the current value for a property should be fetched, or the value and all the historical values for that property. Default is “value_only”."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "formSubmissionMode",
            "description": "One of “all”, “none”, “newest”, “oldest” to specify which form submissions should be fetched. Default is “newest”."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "showListMemberships",
            "description": "Boolean \"true\" or \"false\" to indicate whether current list memberships should be fetched for the contact. Default is false."
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "hapikey",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": []
}