{
  "openapi": "3.0.0",
  "info": {
    "title": "Meta API",
    "version": "1.0",
    "description": "This API let you manage Meta API through its API.",
    "contact": {
      "name": "Meta API"
    }
  },
  "servers": [
    {
      "url": "https://api.meta-api.io/api",
      "description": "Meta API Prod URL"
    }
  ],
  "paths": {
    "/spells/{id}/runSync": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The `id` of your Spell. You can find it on the URL page of your Spell."
        }
      ],
      "post": {
        "summary": "Launch Spell",
        "operationId": "post-spells-id-runSync",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Data based on Spell's response. Either an object or an array",
                  "type": "object"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": true,
                      "message": "Spell executed to the end"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "With this connector you can call a Spell inside another Spell. Use your Meta API Key and set the payload of your Spell into the body and you're all set. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Provide parameters to launch the Spell"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "firstname": "Harry",
                    "lastname": "Potter"
                  }
                }
              }
            }
          },
          "description": "Set your your payload in the request body."
        },
        "tags": [
          "Spell"
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ],
              "example": false
            },
            "in": "query",
            "name": "dev",
            "description": "Call a Spell in dev or prod mode. Default is `false`."
          }
        ]
      }
    },
    "/clients/{id}/securities/{securityId}/profiles/{profileId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Your account client `id`. You can find it on your account profile."
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "securityId",
          "in": "path",
          "required": true,
          "description": "The security `id` of an OAuth authentication. You can find it on the API authentication page, select the authentication needed and copy the `id`."
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "profileId",
          "in": "path",
          "required": true,
          "description": "The profile `id` of an OAuth authentication. You can find it inside the auth modal."
        }
      ],
      "delete": {
        "summary": "Delete OAuth profile",
        "operationId": "delete-clients-id-securities-securityId-profiles-profileId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "OAuth": {
                        "authorizationCode": {
                          "scopes": [
                            "reactions:write",
                            "chat:write:bot",
                            "chat:write:user",
                            "channels:read",
                            "im:read",
                            "mpim:read",
                            "groups:read"
                          ],
                          "profiles": [],
                          "client_id": "3397853354889.3370280138439",
                          "client_secret_hint": "*****564f0"
                        },
                        "clientCredentials": {
                          "scopes": []
                        }
                      },
                      "label": "OAuth Label",
                      "_id": "6256a0de62f63bff6550101f",
                      "api": {
                        "_id": "5e4fd30bbd7d45be958d3d94",
                        "title": "Slack"
                      },
                      "client": "5ce1cde17569c3ebf64c5c36",
                      "created_at": "2022-04-13T10:07:26.051Z",
                      "updated_at": "2022-06-08T08:03:51.769Z",
                      "__v": 8
                    }
                  },
                  "properties": {
                    "OAuth": {
                      "type": "object",
                      "properties": {
                        "authorizationCode": {
                          "type": "object",
                          "properties": {
                            "scopes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "profiles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "client_id": {
                              "type": "string"
                            },
                            "client_secret_hint": {
                              "type": "string"
                            }
                          }
                        },
                        "clientCredentials": {
                          "type": "object",
                          "properties": {
                            "scopes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "label": {
                      "type": "string"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "api": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      }
                    },
                    "client": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "__v": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "OAuth": {
                        "authorizationCode": {
                          "scopes": [
                            "string"
                          ],
                          "profiles": [
                            "string"
                          ],
                          "client_id": "string",
                          "client_secret_hint": "string"
                        },
                        "clientCredentials": {
                          "scopes": [
                            "string"
                          ]
                        }
                      },
                      "label": "string",
                      "_id": "string",
                      "api": {
                        "_id": "string",
                        "title": "string"
                      },
                      "client": "string",
                      "created_at": "string",
                      "updated_at": "string",
                      "__v": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "This endpoint allows you to delete an OAuth profile from a dedicated API.",
        "tags": [
          "Authentication"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "API Key - 1": {
        "name": "apikey",
        "type": "apiKey",
        "in": "header",
        "description": "Your Meta API key. You can found the key on the left menu \"Meta API Keys\". Find out more on [our documentation](https://docs.meta-api.io/docs/deployment/manage-meta-api-key)."
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Spell"
    }
  ],
  "security": [
    {
      "API Key - 1": []
    }
  ]
}