{
  "openapi": "3.0.0",
  "info": {
    "title": "Pabbly API Documentation",
    "description": "We provide the API which follows all the `HTTP` request and based on the `REST` theory.  These API allows you to perform all the actions in your account just by requesting the call. These calls can be fired using any API development  platform like Postman.\r\n\r\nEvery call is revealed with an URL. The URL of each resource can be obtained by accessing the API Root Endpoint.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://emails.pabbly.com"
    },
    {
      "url": "https://payments.pabbly.com"
    },
    {
      "url": "http://payments.pabbly.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": [
    {
      "name": "Email Marketing",
      "description": "Following are the API request examples related to a Pabbly Email Marketing account.\n\n## Authentication Type – \nAll the following API requests uses ``Bearer Token`` as authorization channel.\n\nYou can get the **Bearer Token** from your Pabbly Email Marketing account under `Integrations` > `Developer API` as shown in the below screenshot and is use it as your ``Bearer Token``\n\n![Bearer Token](https://www.pabbly.com/wp-content/uploads/2020/02/BearerToken.png \"Bearer Token\")"
    },
    {
      "name": "Email Marketing > Subscribers List"
    },
    {
      "name": "Email Marketing > Personalization Tags"
    },
    {
      "name": "Email Marketing > Subscribers"
    },
    {
      "name": "Email Marketing > Delivery Servers"
    },
    {
      "name": "Email Marketing > Email Templates"
    },
    {
      "name": "Email Marketing > Send Email"
    },
    {
      "name": "Subscription Billing",
      "description": "The REST Admin API lets you fire internal actions and intergation with different apps.\r\nOur API supports all the HTTP requesting for calling an action.\r\n\r\nEvery call is revealed with an URL. The URL of each resource can be obtained by accessing the API Root Endpoint.\t\r\n## Authentication Type – \r\n\r\nAll the API uses ``Basic Auth`` as authorization channel.\r\n\r\n`Username` : **API Key** from your Pabbly Subscription Account\r\n\r\n`Password` : **Secret Key** from your Pabbly Subscription Account\r\n\r\n**Location of API Key in Pabbly Subscriptions account -**\r\n\r\nFrom your accounts dashboard go to;\r\n\r\n**Settings -> API Settings -> Generate the Keys**\r\n\r\n![API Key](https://www.pabbly.com/wp-content/uploads/2020/03/Pabbly-API.png \"API Key\")\r\n\r\n**Note** - The Get request API does not contain any form data"
    },
    {
      "name": "Subscription Billing > Customers",
      "description": "All Customers related Pabbly Subscription API's will come here."
    },
    {
      "name": "Subscription Billing > Subscriptions",
      "description": "All the subscriptions related API's will be available here"
    },
    {
      "name": "Subscription Billing > Product"
    },
    {
      "name": "Subscription Billing > Plans"
    },
    {
      "name": "Subscription Billing > Coupon"
    },
    {
      "name": "Subscription Billing > Invoice"
    },
    {
      "name": "Subscription Billing > Payment Method"
    },
    {
      "name": "Subscription Billing > Checkout pages"
    },
    {
      "name": "Subscription Billing > Payment/Transaction"
    },
    {
      "name": "Subscription Billing > Client Portal"
    },
    {
      "name": "Subscription Billing > Dashboard"
    },
    {
      "name": "Subscription Billing > Reports"
    },
    {
      "name": "Subscription Billing > Custom Field"
    },
    {
      "name": "Subscription Billing > Add-on"
    },
    {
      "name": "Subscription Billing > Add-on Category"
    },
    {
      "name": "Subscription Billing > Licenses",
      "description": "All the License related API's are available here."
    },
    {
      "name": "Subscription Billing > Affiliate Module",
      "description": "All the Affiliate Module related Pabbly Subscription API's will come here."
    },
    {
      "name": "Subscription Billing > Card",
      "description": "All the Affiliate Module related Pabbly Subscription API's will come here."
    },
    {
      "name": "Subscription Billing > Credit",
      "description": "All the Affiliate Module related Pabbly Subscription API's will come here."
    },
    {
      "name": "Subscription Billing > Multiplan"
    }
  ],
  "paths": {
    "/api/subscribers-list": {
      "get": {
        "tags": [
          "Email Marketing > Subscribers List"
        ],
        "summary": "Get Subscribers List",
        "description": "Get all subscribers list id's and names from your Pabbly Email Marketing account.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 18 Feb 2020 04:57:49 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/html; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/7.0.10"
                }
              },
              "P3P": {
                "schema": {
                  "type": "string",
                  "example": "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains; "
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          }
        },
        "operationId": "get_subscribers_list"
      }
    },
    "/api/subscribers-list/create": {
      "post": {
        "tags": [
          "Email Marketing > Subscribers List"
        ],
        "summary": "Create Subscribers List",
        "description": "Create a subscriber list with a suitable name in your Pabbly Email Marketing account.\n\n***Body Params*** `JSON` object consisting of the following parameters:\n\n| Variables |  Details |\n|----------:|---------:|\n| `list_name` | A suitable name for the subscribers list |\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "list_name": "My List Name"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 29 Feb 2020 08:06:34 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/html; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/7.0.10"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "mg_sess=a%3A5%3A%7Bs%3A10%3A%22session_id%22%3Bs%3A32%3A%22a1bc1848f3a9c59ecb8beea01b3217cb%22%3Bs%3A10%3A%22ip_address%22%3Bs%3A12%3A%22103.82.99.56%22%3Bs%3A10%3A%22user_agent%22%3Bs%3A21%3A%22PostmanRuntime%2F7.22.0%22%3Bs%3A13%3A%22last_activity%22%3Bi%3A1582963594%3Bs%3A9%3A%22user_data%22%3Bs%3A0%3A%22%22%3B%7D98fd3e6e0af0aa336e2e4eaceb1392d6; expires=Sat, 29-Feb-2020 12:06:34 GMT; Max-Age=14400; path=/"
                }
              },
              "P3P": {
                "schema": {
                  "type": "string",
                  "example": "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains; "
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "\t\n{\"status\":\"success\",\"list_id\":\"Ijg1MDk1MCI_3D\"}"
              }
            }
          }
        },
        "operationId": "create_subscribers_list"
      }
    },
    "/api/personalization-tags": {
      "get": {
        "tags": [
          "Email Marketing > Personalization Tags"
        ],
        "summary": "Get Personalization Tags",
        "description": "Get the list of personalization tags from your Pabbly Email Marketing account.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 18 Feb 2020 05:05:08 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/html; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/7.0.10"
                }
              },
              "P3P": {
                "schema": {
                  "type": "string",
                  "example": "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains; "
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "personalization_tags": [
                    {
                      "tag_name": "My Custom Data",
                      "tag_value": "my_custom_data"
                    },
                    {
                      "tag_name": "My New Custom Data",
                      "tag_value": "my_new_custom_data"
                    },
                    {
                      "tag_name": "testing",
                      "tag_value": "testing"
                    },
                    {
                      "tag_name": "Email",
                      "tag_value": "email"
                    },
                    {
                      "tag_name": "Name",
                      "tag_value": "name"
                    },
                    {
                      "tag_name": "Mobile",
                      "tag_value": "mobile"
                    },
                    {
                      "tag_name": "City",
                      "tag_value": "city"
                    },
                    {
                      "tag_name": "Country",
                      "tag_value": "country"
                    },
                    {
                      "tag_name": "Website",
                      "tag_value": "website"
                    },
                    {
                      "tag_name": "Facebook",
                      "tag_value": "facebook"
                    },
                    {
                      "tag_name": "Age",
                      "tag_value": "age"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get_personalization_tags"
      }
    },
    "/api/subscribers": {
      "post": {
        "tags": [
          "Email Marketing > Subscribers"
        ],
        "summary": "Import Subscribers in Bulk",
        "description": "This `POST` request will add Email(s) to the existing Subscriber List of your Pabbly Email Marketing account.\n\n***Body Params*** `JSON` object consisting of the following parameters:\n\n| Variables | Details |\n|----------:|--------:|\n| `import` | single for importing single subscriber |\n| `list_id` | List Id of from your PEM account |\n| `subscribers_data` | `JSON` object of subscriber details like name, email, city etc. |\n\n**You can pass your personalization tags that you have created in your PEM account in the `subscribers_data` in the `\"key\":\"value\"` pair (all the keys must be in lowercase) for importing further details of a subscriber.**\n\n```\n\"subscribers_data\":{\n    \"johndoe@gmail.com\":{\n        ...\n        \"city\":\"New York\",\n        \"country\":\"USA\",\n        ...\n    }\n    ...\n}\n```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "import": "bulk",
                  "list_id": "Ijg1MDM2OCI_3D",
                  "subscribers_data": {
                    "johndoe+2@gmail.com": {
                      "name": "John Doe",
                      "email": "johndoe+2@gmail.com",
                      "city": "New York",
                      "date": "2020-02-26 00:51:25"
                    },
                    "josephine+2@gmail.com": {
                      "name": "Josephine Patt",
                      "email": "Josephine+2@gmail.com",
                      "city": "Los Angeles",
                      "date": "2020-02-26 00:51:45"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 22 Feb 2020 08:19:23 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/html; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/7.0.10"
                }
              },
              "P3P": {
                "schema": {
                  "type": "string",
                  "example": "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains; "
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "\t\n{\"status\":\"success\",\"message\":\"List Updated Successfully, Total Emails In List : 12\"}"
              }
            }
          }
        },
        "operationId": "import_subscribers_in_bulk"
      }
    },
    "/api/delivery-servers": {
      "get": {
        "tags": [
          "Email Marketing > Delivery Servers"
        ],
        "summary": "Get Delivery Servers",
        "description": "Get all the Delivery Servers from your Pabbly Email Marketing account.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 18 Feb 2020 04:53:19 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/html; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/7.0.10"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "mg_sess=a%3A5%3A%7Bs%3A10%3A%22session_id%22%3Bs%3A32%3A%225d92e3f552ae018dddbd6038aed13663%22%3Bs%3A10%3A%22ip_address%22%3Bs%3A12%3A%22103.82.99.56%22%3Bs%3A10%3A%22user_agent%22%3Bs%3A21%3A%22PostmanRuntime%2F7.22.0%22%3Bs%3A13%3A%22last_activity%22%3Bi%3A1582001599%3Bs%3A9%3A%22user_data%22%3Bs%3A0%3A%22%22%3B%7D02a0d72eb61d38ce836c6bb2d7475bfd; expires=Tue, 18-Feb-2020 08:53:19 GMT; Max-Age=14400; path=/"
                }
              },
              "P3P": {
                "schema": {
                  "type": "string",
                  "example": "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains; "
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "delivery_servers": [
                    {
                      "delivery_server_id": "ses",
                      "delivery_server_name": "Amazon SES",
                      "emails": [
                        "enquiry@woofresh.com",
                        "noreply@woofresh.com"
                      ]
                    },
                    {
                      "delivery_server_id": "IjEwMjgzIg_3D_3D",
                      "delivery_server_name": "Delivery Server 3",
                      "emails": [
                        "enquiry@inkthemes.com"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get_delivery_servers"
      }
    },
    "/api/email-templates": {
      "get": {
        "tags": [
          "Email Marketing > Email Templates"
        ],
        "summary": "Get Email Templates",
        "description": "Get the list of all the Email Templates from your Pabbly Email Marketing account.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 18 Feb 2020 05:07:57 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/html; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/7.0.10"
                }
              },
              "P3P": {
                "schema": {
                  "type": "string",
                  "example": "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains; "
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          }
        },
        "operationId": "get_email_templates"
      }
    },
    "/api/email-templates/create": {
      "post": {
        "tags": [
          "Email Marketing > Email Templates"
        ],
        "summary": "Create Email Template",
        "description": "Create an Email Templates in your Pabbly Email Marketing account.\n\n***Body Params*** `JSON` object consisting of the following parameters:\n\n| Variables |  Details |\n|----------:|---------:|\n| `subject` | A suitable subject for the template |\n| `html_body` | An `HTML` as a string with backslashes in front of predefined characters |\n\nYou can make use of the onlinestringtools.com and use their escape string tool to convert the `HTML` as string with backslashes.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "subject": "Black Friday Email Template",
                  "html_body": "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<meta name=\"viewport\" content=\"width=device-width\" />\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n<meta name=\"robots\" content=\"noindex, nofollow\" />\n<title>Preview</title><!--fgmgMediaReplacePlaceholder-->\n</head><body align=\"center\" style=\"-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background: #e0e0e0; height: 100%; line-height: 1.7; width: inherit\" bgcolor=\"#e0e0e0\"><style type=\"text/css\">\nbody * {\nmargin: 0; padding: 0; font-family: Georgia, Helvetica, Arial, sans-serif; box-sizing: border-box; mso-line-height-rule: exactly;\n}\nbody strong {\nfont-family: inherit !important;\n}\nimg {\nmax-width: 100%; display: block;\n}\nbody {\n-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: inherit; height: 100%; line-height: 1.7;\n}\nbody {\nbackground-color: #01191d;\n}\n.ExternalClass {\nwidth: 100%;\n}\nbody p {\nmargin: 16px 0;\n}\nbody .footer p {\nmargin: 0 !important;\n}\nbody {\nbackground-color: #e0e0e0;\n}\n</style><table align=\"center\" class=\"body-wrap\" style=\"background: #e0e0e0 url() repeat center; box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0; width: 100%; word-break: break-word\" bgcolor=\"#e0e0e0\" background=\"url()\"><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td align=\"center\" style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0 auto; mso-line-height-rule: exactly; padding: 0; vertical-align: top\" valign=\"top\"><table style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td class=\"container\" width=\"600\" style=\"box-sizing: border-box; clear: both !important; display: block !important; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0 auto; max-width: 600px !important; mso-line-height-rule: exactly; padding: 0; vertical-align: top\" valign=\"top\"><div class=\"content\" style=\"box-sizing: border-box; display: block; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0 auto; max-width: 600px; mso-line-height-rule: exactly; padding: 0\"><table class=\"main\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background: #FFFFFF; box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 35px 0 0; mso-line-height-rule: exactly; padding: 0\" bgcolor=\"#FFFFFF\"><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td class=\"aligncenter\" style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0 auto; mso-line-height-rule: exactly; padding: 0; text-align: center; vertical-align: top\" align=\"center\" valign=\"top\"><div align=\"center\" style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><a href=\"https://levhqnhv02.execute-api.us-west-2.amazonaws.com/track?curr_track_type=link_click&link_id=o7Claq1&amp;temp_id=IjEzNTUwNiI_3D&amp;email_id=mailget_email_id_replace&amp;s_id=mailget_s_id_replace&amp;server=replace_smtp_server&amp;type=replace_drip_type\" target=\"_blank\" style=\"box-sizing: border-box; color: #15c; font-family: Georgia, serif; margin: 0; mso-line-height-rule: exactly; padding: 0; text-decoration: underline\"><img width=\"600\" src=\"https://mailget.s3.amazonaws.com/upload_files/1568631476-150478515-Pabbly_Email_Marketing_Header_Image.png\" alt=\"\" style=\"box-sizing: border-box; display: block; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; max-width: 100%; mso-line-height-rule: exactly; padding: 0\" /></a></div></td></tr><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td class=\"content-wrap\" style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0 auto; mso-line-height-rule: exactly; padding: 0 20px 20px; vertical-align: top\" valign=\"top\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td class=\"content-block\" style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; line-height: 170%; margin: 0 auto; mso-line-height-rule: exactly; padding: 20px 0; vertical-align: top\" valign=\"top\"><p style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; font-weight: normal; line-height: 170%; margin: 16px 0 0; mso-line-height-rule: exactly; padding: 0\"><span style=\"box-sizing: border-box; font-family: Georgia, serif; font-weight: 400; margin: 0; mso-line-height-rule: exactly; padding: 0\">Hey {firstname}</span></p>\n<p style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; font-weight: normal; line-height: 170%; margin: 16px 0 0; mso-line-height-rule: exactly; padding: 0\"><span style=\"box-sizing: border-box; font-family: Georgia, serif; font-weight: 400; margin: 0; mso-line-height-rule: exactly; padding: 0\">Thanks for registering up with Pabbly Email Verification.</span></p>\n<p style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; font-weight: normal; line-height: 170%; margin: 16px 0 0; mso-line-height-rule: exactly; padding: 0\"><span style=\"box-sizing: border-box; font-family: Georgia, serif; font-weight: 400; margin: 0; mso-line-height-rule: exactly; padding: 0\">We verify emails at a slow speed to guarantee the most accurate email verification results. </span>False positives, Catch-all addresses, unknown addresses are all reduced in the slow email verification.</p>\n<p style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; font-weight: normal; line-height: 170%; margin: 16px 0 0; mso-line-height-rule: exactly; padding: 0\">With Pabbly, you can verify emails in just 3 simple steps -</p>\n<p style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; font-weight: normal; line-height: 170%; margin: 16px 0 0; mso-line-height-rule: exactly; padding: 0\"><span style=\"box-sizing: border-box; font-family: Georgia, serif; margin: 0; mso-line-height-rule: exactly; padding: 0\">1. <a id=\"bGeaLK2\" style=\"box-sizing: border-box; color: #15c; font-family: Georgia, serif; margin: 0; mso-line-height-rule: exactly; padding: 0; text-decoration: underline\" href=\"https://levhqnhv02.execute-api.us-west-2.amazonaws.com/track?curr_track_type=link_click&link_id=bGeaLK2&amp;temp_id=IjEzNTUwNiI_3D&amp;email_id=mailget_email_id_replace&amp;s_id=mailget_s_id_replace&amp;server=replace_smtp_server&amp;type=replace_drip_type\" target=\"_blank\" rel=\"noopener\">Login to the Pabbly account</a>.</span></p>\n<p style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; font-weight: normal; line-height: 170%; margin: 16px 0 0; mso-line-height-rule: exactly; padding: 0\">2. Upload your email list, and</p>\n<p style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; font-weight: normal; line-height: 170%; margin: 16px 0 0; mso-line-height-rule: exactly; padding: 0\">3. Click on the \"Start Verification\" button and that\"s it. The verification process will start and you will receive an email notification once the verification process is completed.</p></td></tr><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td class=\"content-block\" align=\"center\" style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; line-height: 170%; margin: 0 auto; mso-line-height-rule: exactly; padding: 20px 0; vertical-align: top\" valign=\"top\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><tbody style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td class=\"btn-primary-td\" style=\"background: #22b276; border-radius: 5px; box-sizing: border-box; color: #FFFFFF; cursor: pointer; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0 auto; mso-line-height-rule: exactly; padding: 10px 35px; text-align: center; vertical-align: top\" align=\"center\" bgcolor=\"#22b276\" valign=\"top\"><a href=\"https://levhqnhv02.execute-api.us-west-2.amazonaws.com/track?curr_track_type=link_click&link_id=GRrMzp3&amp;temp_id=IjEzNTUwNiI_3D&amp;email_id=mailget_email_id_replace&amp;s_id=mailget_s_id_replace&amp;server=replace_smtp_server&amp;type=replace_drip_type\" target=\"_blank\" class=\"btn-primary btn-inline\" style=\"background: #22b276; border-radius: 5px; box-sizing: border-box; color: #FFFFFF; cursor: pointer; display: inline-block; font-family: Georgia, serif; font-weight: bold; line-height: 2; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: center; text-decoration: none\">Start Verification Now</a></td></tr></tbody></table></td></tr><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td class=\"content-block\" style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; line-height: 170%; margin: 0 auto; mso-line-height-rule: exactly; padding: 20px 0; vertical-align: top\" valign=\"top\"><p style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; font-weight: normal; line-height: 170%; margin: 16px 0 0; mso-line-height-rule: exactly; padding: 0\"><span style=\"box-sizing: border-box; font-family: Georgia, serif; font-weight: 400; margin: 0; mso-line-height-rule: exactly; padding: 0\">If you have any questions, </span>simply reply back to this email or <a id=\"woL17h4\" style=\"box-sizing: border-box; color: #15c; font-family: Georgia, serif; margin: 0; mso-line-height-rule: exactly; padding: 0; text-decoration: underline\" href=\"https://levhqnhv02.execute-api.us-west-2.amazonaws.com/track?curr_track_type=link_click&link_id=woL17h4&amp;temp_id=IjEzNTUwNiI_3D&amp;email_id=mailget_email_id_replace&amp;s_id=mailget_s_id_replace&amp;server=replace_smtp_server&amp;type=replace_drip_type\" target=\"_blank\" rel=\"noopener\">get in touch with us here.</a></p>\n<p style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 16px; font-weight: normal; line-height: 170%; margin: 16px 0 0; mso-line-height-rule: exactly; padding: 0\"><span style=\"box-sizing: border-box; font-family: Georgia, serif; font-weight: 400; margin: 0; mso-line-height-rule: exactly; padding: 0\">Cheers!!</span></p></td></tr></table></td></tr><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td class=\"aligncenter mailer-info\" style=\"background: #F5F5F5; border-top-color: #DBDADA; border-top-style: solid; border-top-width: 1px; box-sizing: border-box; color: #575454; font-family: Georgia, Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 1.7; margin: 0 auto; mso-line-height-rule: exactly; padding: 15px 20px 20px; text-align: center; vertical-align: top\" align=\"center\" bgcolor=\"#F5F5F5\" valign=\"top\">\n <h2 class=\"wysiwyg-text-align-center\" style=\"box-sizing: border-box; color: rgb(46, 46, 46); font-family: Georgia, serif; font-size: 18px; font-weight: bold; line-height: 1.7; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: center !important\" align=\"center\">\n <span style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; margin: 0; mso-line-height-rule: exactly; padding: 0\">Pabbly Team</span>\n</h2>\n<div class=\"wysiwyg-text-align-center\" style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; font-size: 12px; font-weight: normal; line-height: 1.7; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: center !important\" align=\"center\">\n<span style=\"box-sizing: border-box; color: #2e2e2e; font-family: Georgia, serif; margin: 0; mso-line-height-rule: exactly; padding: 0\">E3/49, 3rd Floor, Arera Colony, Bhopal, MP, 462016, India</span>\n</div>\n</td></tr> </table> <div class=\"footer ta-center dark\" style=\"box-sizing: border-box; clear: both; color: #999; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 20px 0; width: 100%\"><table width=\"100%\" style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><tr style=\"box-sizing: border-box; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; mso-line-height-rule: exactly; padding: 0\"><td class=\"aligncenter footer-td\" style=\"box-sizing: border-box; color: #ffffff; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0 auto; mso-line-height-rule: exactly; padding: 0 20px; text-align: center; vertical-align: top\" align=\"center\" valign=\"top\"><p class=\"unsubscribe\" style=\"box-sizing: border-box; color: #111111; font-family: Georgia, serif; font-size: 12px; font-weight: normal; line-height: 170%; margin: 0; mso-line-height-rule: exactly; padding: 0\">This email was sent to {email} | <a href=\"https://levhqnhv02.execute-api.us-west-2.amazonaws.com/track?curr_track_type=unsubscribe_track&temp_id=IjEzNTUwNiI_3D&amp;email_id=mailget_email_id_replace&amp;s_id=mailget_s_id_replace&amp;server=replace_smtp_server&amp;type=replace_drip_type\" class=\"unsubscribelink\" style=\"box-sizing: border-box; color: #111111; font-family: Georgia, serif; font-size: 12px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-decoration: underline\">Unsubscribe</a> | <a href=\"https://levhqnhv02.execute-api.us-west-2.amazonaws.com/track?curr_track_type=browser_link&temp_id=IjEzNTUwNiI_3D\" style=\"box-sizing: border-box; color: #111111; font-family: Georgia, serif; font-size: 12px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-decoration: underline\" target=\"_blank\" class=\"unsubscribelink\">View in Browser</a></p><p class=\"unsubscribe\" style=\"box-sizing: border-box; color: #111111; font-family: Georgia, serif; font-size: 12px; font-weight: normal; line-height: 170%; margin: 0; mso-line-height-rule: exactly; padding: 0\">You are receiving this email because you have signed up on our website or subscribed to our email list.</p><p class=\"unsubscribe\" style=\"box-sizing: border-box; color: #111111; font-family: Georgia, serif; font-size: 12px; font-weight: normal; line-height: 170%; margin: 0; mso-line-height-rule: exactly; padding: 0\"><img src=\"https://levhqnhv02.execute-api.us-west-2.amazonaws.com/track?curr_track_type=open_track&temp_id=IjEzNTUwNiI_3D&amp;email_id=mailget_email_id_replace&amp;s_id=mailget_s_id_replace&amp;server=replace_smtp_server&amp;type=replace_drip_type\" width=\"1\" height=\"1\" border=\"0\" style=\"box-sizing: border-box; display: block; font-family: Georgia, Helvetica, Arial, sans-serif; margin: 0; max-width: 100%; mso-line-height-rule: exactly; opacity: 0; padding: 0\" alt=\"\" /></p></td></tr></table></div></div></td></tr></table></td></tr></table></body></html>"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 18 Feb 2020 05:15:29 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/html; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/7.0.10"
                }
              },
              "P3P": {
                "schema": {
                  "type": "string",
                  "example": "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains; "
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "template_id": "IjEzNzc4MiI_3D"
                }
              }
            }
          }
        },
        "operationId": "create_email_template"
      }
    },
    "/api/send-emails": {
      "post": {
        "tags": [
          "Email Marketing > Send Email"
        ],
        "summary": "Send Emails",
        "description": "This request will allow you to send emails from your Pabbly Email Marketing account.\n\n***Body Params*** `JSON` object consisting of the following parameters:\n\n| Variables | Required | Details |\n|----------:|-----:|-------:|\n| `from_name` | True | From Name for the email |\n| `from_email` | True | From Email for the email |\n| `subject` | True | Specify a subject for the eamil |\n| `delivery_server_id` | True | Through which Delivery Server from your PEM account you want to send emails |\n| `template_id` | True | Desired email template from your PEM account |\n| `list_ids` | True | Send emails to subscribers of your desired PEM list, use comma separated values for sending to subscribers of multiple lists |\n| `exclude_list_ids` | True | Exclude your PEM list, use comma separated values for excluding multiple lists |\n| `individual_emails` | True | You can send emails to specific subscriber, use comma separated values for sending email to multiple subscribers |\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "from_name": "John Doe",
                  "from_email": "john@gmail.com",
                  "delivery_server_id": "IjEwNjA4Ig_3D_3D",
                  "list_ids": "Ijg1MDcyNSI_3D, Ijg1MDgyNSI_3D, Ijg1MDguNSI_3D",
                  "subject": "Check out our Black Friday Deal.",
                  "exclude_list_ids": "Ijg1MDgyNSI_3D, Ijg1MDtyNSI_3D",
                  "individual_emails": "",
                  "template_id": "IjEzODc0MSI_3D"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 18 Feb 2020 05:22:33 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/html; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/7.0.10"
                }
              },
              "P3P": {
                "schema": {
                  "type": "string",
                  "example": "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains; "
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "response": "Mail Send"
                }
              }
            }
          }
        },
        "operationId": "send_emails"
      }
    },
    "/api/v1/customer/{customer_id}": {
      "get": {
        "tags": [
          "Subscription Billing > Customers"
        ],
        "summary": "Get Single Customer via Customer ID",
        "description": "This API is fired with GET request.\n\nYou will need to fill the customer Id in the link and fire it.\n\nIn response you will get all the details in customer like name, email, created date and so on.",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 09 Jan 2020 06:39:30 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": 647
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Sails <sailsjs.com>"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin, Accept-Encoding"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"287-c3wwJHHGsKYRhKmhanMJ4HtYBh0\""
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000; includeSubdomains; preload"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "Customer data",
                  "data": {
                    "company_name": "Omni Source",
                    "website": "anstudios.com",
                    "phone": "406-775-3868",
                    "billing_address": {
                      "attention": "Mr. Lance Crews",
                      "street1": "936 Tibbs Avenue",
                      "street2": "Jenna Lane",
                      "city": "Ekalaka",
                      "state": "MT",
                      "zip_code": "59324",
                      "country": "US"
                    },
                    "shipping_address": {
                      "attention": "Mr. Lance Crews",
                      "street1": "936 Tibbs Avenue",
                      "street2": "Jenna Lane",
                      "city": "Ekalaka",
                      "state": "MT",
                      "zip_code": "59324",
                      "country": "US"
                    },
                    "createdAt": "2020-01-09T06:25:25.498Z",
                    "updatedAt": "2020-01-09T06:25:25.498Z",
                    "id": "5e16c7556d73c34665ade042",
                    "first_name": "John",
                    "last_name": "Doe",
                    "email_id": "johndoe@teleworm.us"
                  }
                }
              }
            }
          }
        },
        "operationId": "get_single_customer_via_customer_id"
      },
      "put": {
        "tags": [
          "Subscription Billing > Customers"
        ],
        "summary": "Update Customer Detail",
        "description": "This is a PUT request API in which you will add the customer Id in Request URL.\n\nIn response you will get the new details of the customer on same customer Id. That means the customer Id will remain the same but the details will be changed.\n\n## Attributes\n\n| Variable | Type | Details |\n| --- | --- | --- |\n| first_name | Optional | Update the First Name of your customer. |\n| last_name | Optional | Update the Last Name of your customer. |\n| company_name | Optional | Update the Customer’s company name. |\n| website | Optional | Update the Customer’s website name. |\n| phone | Optional | Update the Customer’s phone number. |\n| billing_address | Optional | Update the billing address of the custoemr. |\n| shipping_address | Optional | Update the shipping address of the customer. |\n| enable_portal | Optional | Value will be **yes/no** |\n| enable_affiliate | Optional | Value will be **yes/no** |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "first_name": "Lance",
                  "last_name": "Crews",
                  "company_name": "Omni Source",
                  "website": "anstudios.com",
                  "phone": "406-775-3868",
                  "enable_portal": "yes",
                  "enable_affiliate": "yes",
                  "billing_address": {
                    "attention": "Mr. Lance Crews",
                    "street1": "936 Tibbs Avenue",
                    "street2": "Jenna Lane",
                    "city": "Ekalaka",
                    "state": "MT",
                    "zip_code": "59324",
                    "country": "US"
                  },
                  "shipping_address": {
                    "attention": "Mr. Lance Crews",
                    "street1": "936 Tibbs Avenue",
                    "street2": "Jenna Lane",
                    "city": "Ekalaka",
                    "state": "MT",
                    "zip_code": "59324",
                    "country": "US"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "customer_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "622b1eccef109b712df5e547"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 03 Mar 2020 10:39:45 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": 763
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Sails <sailsjs.com>"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin, Accept-Encoding"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2fb-gIXQjB2K9KJx4jLuy44N1/ra+Iw\""
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000; includeSubdomains; preload"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "Customer profile updated",
                  "data": {
                    "company_name": "Omni Source",
                    "is_affiliate": true,
                    "phone": "406-775-3868",
                    "billing_address": {
                      "attention": "Mr. Lance Crews",
                      "street1": "936 Tibbs Avenue",
                      "street2": "Jenna Lane",
                      "city": "Ekalaka",
                      "state": "MT",
                      "state_code": "MP",
                      "zip_code": "59324",
                      "country": "US"
                    },
                    "shipping_address": {
                      "attention": "Mr. Lance Crews",
                      "street1": "936 Tibbs Avenue",
                      "street2": "Jenna Lane",
                      "city": "Ekalaka",
                      "state": "MT",
                      "state_code": "",
                      "zip_code": "59324",
                      "country": "US"
                    },
                    "portal_status": true,
                    "createdAt": "2022-03-11T10:05:00.387Z",
                    "updatedAt": "2022-03-11T10:05:00.387Z",
                    "id": "622b1eccef109b712df5e547",
                    "first_name": "Lance",
                    "last_name": "Crews",
                    "email_id": "katielee@gmail.com"
                  }
                }
              }
            }
          }
        },
        "operationId": "update_customer_detail"
      }
    },
    "/api/v1/customer": {
      "post": {
        "tags": [
          "Subscription Billing > Customers"
        ],
        "summary": "Create Customer",
        "description": "Fire the link with POST request and fill the following details in from data.\n\nIf the response status is success then a unique customer Id will be generated for that customer.\n\n## Attributes :\n\n| Variables   |      Type      | Details |\n|----------|:-------------:|-----------------:|\n| first_name |  Required | First Name of your customer |\n| last_name |    Required  | Last Name of your customer. |\n| email_id | Required | Email address of your customer. |\n|Basic Details| Optional | Company name, Website, Phone number, Billing address, Shipping address are the optional fields |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "first_name": "John",
                  "last_name": "Doe",
                  "email_id": "johndoe@teleworm.us",
                  "company_name": "Omni Source",
                  "website": "anstudios.com",
                  "phone": "406-775-3868",
                  "billing_address": {
                    "attention": "Mr. Lance Crews",
                    "street1": "936 Tibbs Avenue",
                    "street2": "Jenna Lane",
                    "city": "Ekalaka",
                    "state": "MT",
                    "zip_code": "59324",
                    "country": "US"
                  },
                  "shipping_address": {
                    "attention": "Mr. Lance Crews",
                    "street1": "936 Tibbs Avenue",
                    "street2": "Jenna Lane",
                    "city": "Ekalaka",
                    "state": "MT",
                    "zip_code": "59324",
                    "country": "US"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 09 Jan 2020 06:25:25 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": 650
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Sails <sailsjs.com>"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin, Accept-Encoding"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"28a-kMHc/eLrqqntaBGm8Gk9Ye2rW4U\""
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000; includeSubdomains; preload"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "Customer Created",
                  "data": {
                    "company_name": "Omni Source",
                    "website": "anstudios.com",
                    "phone": "406-775-3868",
                    "billing_address": {
                      "attention": "Mr. Lance Crews",
                      "street1": "936 Tibbs Avenue",
                      "street2": "Jenna Lane",
                      "city": "Ekalaka",
                      "state": "MT",
                      "zip_code": "59324",
                      "country": "US"
                    },
                    "shipping_address": {
                      "attention": "Mr. Lance Crews",
                      "street1": "936 Tibbs Avenue",
                      "street2": "Jenna Lane",
                      "city": "Ekalaka",
                      "state": "MT",
                      "zip_code": "59324",
                      "country": "US"
                    },
                    "createdAt": "2020-01-09T06:25:25.498Z",
                    "updatedAt": "2020-01-09T06:25:25.498Z",
                    "id": "5e16c7556d73c34665ade042",
                    "first_name": "John",
                    "last_name": "Doe",
                    "email_id": "johndoe@teleworm.us"
                  }
                }
              }
            }
          }
        },
        "operationId": "create_customer"
      },
      "get": {
        "tags": [
          "Subscription Billing > Customers"
        ],
        "summary": "Get Single Customer via Customer Email",
        "description": "This API is fired with GET request.\n\nYou will need to fill the customer email in the link and fire it.\n\nIn response you will get all the details in customer like name, email, created date and so on.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{email}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 09 Jan 2020 06:39:30 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": 647
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Sails <sailsjs.com>"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin, Accept-Encoding"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"287-c3wwJHHGsKYRhKmhanMJ4HtYBh0\""
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000; includeSubdomains; preload"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "Customer data",
                  "data": {
                    "first_name": "john",
                    "last_name": "smith",
                    "email_id": "jhonsmith@xxxxx.com",
                    "company_name": "",
                    "createdAt": "2018-04-14T09:48:48.356Z",
                    "updatedAt": "2018-04-21T07:36:04.171Z",
                    "billing_address": {
                      "attention": "",
                      "street1": "",
                      "street2": "",
                      "city": "",
                      "state": "",
                      "zip_code": "",
                      "country": "IN"
                    },
                    "shipping_address": {
                      "attention": "",
                      "street1": "",
                      "street2": "",
                      "city": "",
                      "state": "",
                      "zip_code": "",
                      "country": "IN"
                    },
                    "website": "",
                    "phone": "",
                    "id": "5ad1ce8039fde06e87ea3668"
                  }
                }
              }
            }
          }
        },
        "operationId": "get_single_customer_via_customer_email"
      }
    },
    "/api/v1/customer/purchase-info/{customer_id}": {
      "get": {
        "tags": [
          "Subscription Billing > Customers"
        ],
        "summary": "Get Customer Purchase Information",
        "description": "This API is fired with GET request.\n\nYou will need to fill the customer Id in the link and fire it.\n\nIn response you will get all the purchase details of that customer like total amount, total refund, total revenue and so on.",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 09 Jan 2020 06:39:30 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": 647
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Sails <sailsjs.com>"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin, Accept-Encoding"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"287-c3wwJHHGsKYRhKmhanMJ4HtYBh0\""
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000; includeSubdomains; preload"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "Purchase info",
                  "data": {
                    "puchase_info": {
                      "total_amount": 100,
                      "total_revenue": 100,
                      "refund_amount": 0,
                      "unused_credit": {
                        "remaining_amount": 0,
                        "subscription_count": 0
                      },
                      "receivables_amount": 0,
                      "mrrTotalAmt": 0,
                      "applied_tax": [],
                      "applied_tax_total": {
                        "tax_amount": 0,
                        "sale_count": 0,
                        "tax_count": 0
                      }
                    },
                    "subscription_info": {
                      "cancelled_count": 0,
                      "cancelled_amount": 0,
                      "onetime_count": 1,
                      "onetime_amount": 100,
                      "reccuring_count": 0,
                      "reccuring_amount": 0,
                      "pending_count": 0,
                      "pending_amount": 0,
                      "live_count": 1,
                      "live_amount": 100,
                      "total_count": 1,
                      "total_amount": 100,
                      "failed_count": 0,
                      "failed_amount": 0,
                      "total_addon_amount": 0,
                      "total_addon_count": 0,
                      "onetime_addon_amount": 0,
                      "onetime_addon_count": 0,
                      "recurring_addon_amount": 0,
                      "recurring_addon_count": 0,
                      "expired_count": 0,
                      "expired_amount": 0,
                      "nonrenewing_count": 0,
                      "nonrenewing_amount": 0
                    },
                    "transaction_info": {
                      "all_transactions_amount": 100,
                      "all_transactions_count": 1,
                      "successful_transactions_amount": 100,
                      "successful_transactions_count": 1,
                      "missed_invoice_amount": 0,
                      "missed_invoice_count": 0
                    },
                    "affiliate_info": {
                      "affiliate_commission": 0,
                      "net_profit_via_affiliate": 0,
                      "sales_count": 0,
                      "refund_amount": 0,
                      "refund_count": 0
                    },
                    "customer_info": {
                      "id": "5f58c0815ee80365c77e29e2",
                      "first_name": "Jhon",
                      "last_name": "Doe",
                      "user_name": "jhondoe@inboxkitten.com",
                      "email_id": "jhondoe@inboxkitten.com",
                      "company_name": "",
                      "website": "",
                      "phone": "",
                      "tax_id": "",
                      "copy_billing_address": false,
                      "portal_language": "",
                      "currency": "",
                      "createdAt": "2020-09-09T11:46:09.882Z",
                      "updatedAt": "2020-09-09T11:46:09.882Z",
                      "portal_status": false,
                      "is_affiliate": false,
                      "shipping_address": {},
                      "billing_address": {
                        "street1": "",
                        "city": "",
                        "state": "",
                        "zip_code": "",
                        "country": ""
                      }
                    },
                    "card_info": [
                      {
                        "id": "5f58c0825ee80365c77e29e6",
                        "customer_id": "5f58c0815ee80365c77e29e2",
                        "type": "credit_card",
                        "createdAt": "2020-09-09T11:46:10.114Z",
                        "brand": "visa",
                        "country": "",
                        "exp_month": 1,
                        "exp_year": 2029,
                        "last4": "1111",
                        "gateway_name": "Test Gateway"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get_customer_purchase_information"
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Subscription Billing > Customers"
        ],
        "summary": "List All Customers",
        "description": "A GET request API used to get the details of all the customer in a single page.\r\nSimply used to get the Customer Id and User Id of all the customers.\r\n\r\n",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "list_all_customers"
      }
    },
    "/api/v1/subscription": {
      "post": {
        "tags": [
          "Subscription Billing > Customers"
        ],
        "summary": "Create Customer With Subscription",
        "description": "The post request API which is fired to create a new customer with a subscription.\n\nIn response you will get a unique customer Id and Subscription Id.\n\n## Attributes\n\n| Variable | Required/Optional | Details |\n| --- | --- | --- |\n| Basic Details | Required (Card details are required only for Stripe and Test gateway) | First name, Last_name, and Email address of the customer. |\n| Card Details | Required, Only If the card detail for this customer is missing. Required only for **Stripe** and **Test gateway** | Card Number, Expiry, and CVV of the customers' CC. |\n| gateway_type | Required | It can be one of paypal, stripe, test, custom, offline or free. |\n| gateway_id | Required only if gateway_type is custom or want to process payment with the specific gateway | Unique Id of the payment gateway from which the payment is processed. |\n| Billing Address | Optional | Add the address details in respective fields. |\n| plan_id | Required | Unique Id of the plan which you will assign to this customer. |\n| redirect_to | Optional | The customer will be redirected to this link after successful payment. |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "first_name": "john",
                  "last_name": "smith",
                  "email": "jhonsmith@xxxxx.com",
                  "card_number": "4111111111111111",
                  "month": "11",
                  "year": "2020",
                  "cvv": "423",
                  "gateway_type": "test",
                  "gateway_id": "5ae0243aec4b151d26bbfe90",
                  "street": "arera colony",
                  "city": "Bhopal",
                  "state": "MP",
                  "zip_code": "462016",
                  "country": "IN",
                  "plan_id": "5e3bf8b8db85462760295d2f",
                  "coupon_code": "PER",
                  "redirect_to": "https://www.pabbly.com/"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 04 Mar 2020 05:02:04 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Sails <sailsjs.com>"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin, Accept-Encoding"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"f09-n4VmUIzFpEMzQ8/t2QyZlBzQNJE\""
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000; includeSubdomains; preload"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "Your payment is successful.",
                  "data": {
                    "user": {
                      "currency": "USD",
                      "process": "done",
                      "lockout_count": 0,
                      "status": "active",
                      "createdAt": "2018-09-10T07:22:45.819Z",
                      "updatedAt": "2020-02-18T07:16:17.281Z",
                      "id": "5b961bc55dfff7797d9cd897",
                      "parent": "5a1cfb08e5866110121ebbf5",
                      "first_name": "Tamara",
                      "last_name": "Ethridge",
                      "email": "mayank.dhiman03@gmail.com",
                      "address_line1": "",
                      "address_line2": "",
                      "city": "Southfield",
                      "state": "Michigan",
                      "country": "United States",
                      "zip_code": "48075",
                      "phone": "8105286395",
                      "mobile": "",
                      "facebook_url": "",
                      "twitter_url": "",
                      "time_zone": "Asia/Kolkata",
                      "date_format": "DD/MM/YYYY hh:mm A",
                      "ip_address": "::ffff:127.0.0.1",
                      "currency_symbol": "$"
                    },
                    "customer": {
                      "billing_address": {
                        "street1": "arera colony",
                        "city": "Bhopal",
                        "state": "MP",
                        "zip_code": "462016",
                        "country": "india"
                      },
                      "shipping_address": {},
                      "createdAt": "2020-03-04T05:02:04.429Z",
                      "updatedAt": "2020-03-04T05:02:04.429Z",
                      "id": "5e5f364c3b2518365c7923be",
                      "first_name": "john",
                      "last_name": "smith",
                      "email_id": "jhonsmith@xxxxx.com"
                    },
                    "product": {
                      "createdAt": "2020-02-05T10:12:36.805Z",
                      "updatedAt": "2020-02-05T10:12:36.805Z",
                      "id": "5e3a95143c92e44b424b6d47",
                      "product_name": "Product 1",
                      "description": null,
                      "notification_email": null,
                      "redirect_url": "#"
                    },
                    "plan": {
                      "plan_active": true,
                      "bump_offer": {},
                      "createdAt": "2020-02-06T11:30:00.807Z",
                      "updatedAt": "2020-02-06T11:30:00.807Z",
                      "id": "5e3bf8b8db85462760295d2f",
                      "product_id": "5e3a95143c92e44b424b6d47",
                      "plan_name": "New recurring plan",
                      "plan_code": "new-recurring-plan",
                      "price": 200,
                      "billing_period": "m",
                      "billing_period_num": "1",
                      "billing_cycle": "lifetime",
                      "billing_cycle_num": null,
                      "trial_period": 0,
                      "setup_fee": 0,
                      "plan_description": "<p>zdf</p>"
                    },
                    "subscription": {
                      "plan": {
                        "plan_active": true,
                        "bump_offer": {},
                        "createdAt": "2020-02-06T11:30:00.807Z",
                        "updatedAt": "2020-02-06T11:30:00.807Z",
                        "id": "5e3bf8b8db85462760295d2f",
                        "product_id": "5e3a95143c92e44b424b6d47",
                        "user_id": "5b961bc55dfff7797d9cd897",
                        "plan_name": "New recurring plan",
                        "plan_code": "new-recurring-plan",
                        "price": 200,
                        "billing_period": "m",
                        "billing_period_num": "1",
                        "billing_cycle": "lifetime",
                        "billing_cycle_num": null,
                        "trial_period": 0,
                        "setup_fee": 0,
                        "plan_description": "<p>zdf</p>"
                      },
                      "setup_fee": 0,
                      "payment_terms": "",
                      "currency_symbol": "$",
                      "coupon": {
                        "coupon_code": "PER",
                        "coupon_name": "Percentage Recurring",
                        "discount": 10,
                        "discount_type": "percent",
                        "redemption_type": "forever",
                        "discount_amount": 20
                      },
                      "payment_method": "5e5f364c3b2518365c7923c2",
                      "taxable": true,
                      "gateway_type": "test",
                      "custom_fields": [],
                      "cron_process": "done",
                      "createdAt": "2020-03-04T05:02:04.447Z",
                      "updatedAt": "2020-03-04T05:02:04.447Z",
                      "id": "5e5f364c3b2518365c7923bf",
                      "customer_id": "5e5f364c3b2518365c7923be",
                      "product_id": "5e3a95143c92e44b424b6d47",
                      "plan_id": "5e3bf8b8db85462760295d2f",
                      "amount": 200,
                      "email_id": "jhonsmith@xxxxx.com",
                      "status": "live",
                      "quantity": 1,
                      "starts_at": "2020-03-04T05:02:04.044Z",
                      "activation_date": "2020-03-04T05:02:04.044Z",
                      "expiry_date": "2120-03-04T05:02:04.044Z",
                      "trial_days": 0,
                      "trial_expiry_date": "",
                      "next_billing_date": "2020-04-04T05:02:04.044Z",
                      "last_billing_date": "2020-03-04T05:02:04.044Z",
                      "canceled_date": null
                    },
                    "invoice": {
                      "invoice_id": "INV-54",
                      "quantity": 1,
                      "product_id": "5e3a95143c92e44b424b6d47",
                      "setup_fee": 0,
                      "currency_symbol": "$",
                      "coupon": {
                        "coupon_code": "PER",
                        "coupon_name": "Percentage Recurring",
                        "discount": 10,
                        "discount_type": "percent",
                        "redemption_type": "forever",
                        "discount_amount": 20
                      },
                      "credit_note": {
                        "total_tax": "0.00",
                        "status": "success",
                        "new_plan_total": 180,
                        "credit_applied": []
                      },
                      "tax_apply": "not_exist",
                      "cron_process": "done",
                      "retry": false,
                      "retry_count": 0,
                      "createdAt": "2020-03-04T05:02:04.459Z",
                      "updatedAt": "2020-03-04T05:02:04.468Z",
                      "id": "5e5f364c3b2518365c7923c0",
                      "customer_id": "5e5f364c3b2518365c7923be",
                      "subscription_id": "5e5f364c3b2518365c7923bf",
                      "status": "paid",
                      "payment_term": "",
                      "amount": 180,
                      "due_amount": 0,
                      "due_date": "2020-03-04T05:02:04.044Z",
                      "plan_id": [
                        "5e3bf8b8db85462760295d2f"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "create_customer_with_subscription"
      }
    },
    "/api/v1/customers/{customer_id}": {
      "delete": {
        "tags": [
          "Subscription Billing > Customers"
        ],
        "summary": "Delete Customer",
        "description": "This API can be used to delete the customer.\r\n\r\nThe API will be fired with DELETE request along with the customer Id in the API link.\r\n\r\nIn response you will get the successful message of delete Customer.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 12 Feb 2021 11:26:43 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": 608
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": 50
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": 49
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer",
                  "example": 1613129205
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Sails <sailsjs.com>"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin, Accept-Encoding"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              },
              "X-Exit": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"260-p2qriaBBNXmFoUvlTiEo6LEx/Us\""
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000; includeSubdomains; preload"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "Customer data deleted"
                }
              }
            }
          }
        },
        "operationId": "delete_customer"
      }
    },
    "/api/v1/subscription/{subscription_id}/cancel": {
      "post": {
        "tags": [
          "Subscription Billing > Subscriptions"
        ],
        "summary": "Cancel Subscription For Existing Customer",
        "description": "Post request API in which you will add the subscription Id in request URL\r\n\r\nIn response the subscription of that customer will be canceled and the customer will not be billed further.\r\n\r\n## Attributes\r\n\r\n| Variable | Type |Details|\r\n| ---------:|----------:|---------:|\r\n|cancel_at_end|Required|True if you want cancel at the end of subscription or false if you want to cancel immediately.|\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "cancel_at_end": true
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
[...]
