{
  "openapi": "3.0.1",
  "info": {
    "title": "Qovery API",
    "contact": {
      "name": "Qovery Support",
      "url": "https://www.qovery.com",
      "email": "support@qovery.com"
    },
    "version": "1.0",
    "x-logo": {
      "url": "https://uploads-ssl.webflow.com/5de176bfd41c9b0a91bbb0a4/5de17d653719a1f46cdb62ae_image%20(3).png"
    }
  },
  "servers": [
    {
      "url": "https://api.qovery.com"
    }
  ],
  "tags": [
    {
      "name": "account-auth-provider-controller",
      "description": "Account Auth Provider Controller"
    },
    {
      "name": "account-controller",
      "description": "Account Controller"
    },
    {
      "name": "admin-controller",
      "description": "Admin Controller"
    },
    {
      "name": "agent-version-controller",
      "description": "Agent Version Controller"
    },
    {
      "name": "cloud-account-validate-controller",
      "description": "Cloud Account Validate Controller"
    },
    {
      "name": "cloud-provider-controller",
      "description": "Cloud Provider Controller"
    },
    {
      "name": "cloud-provider-region-controller",
      "description": "Cloud Provider Region Controller"
    },
    {
      "name": "configuration-check-controller",
      "description": "Configuration Check Controller"
    },
    {
      "name": "configuration-controller",
      "description": "Configuration Controller"
    },
    {
      "name": "e-2-e-controller",
      "description": "E 2 E Controller"
    },
    {
      "name": "engine-version-controller",
      "description": "Engine Version Controller"
    },
    {
      "name": "git-access-check-controller",
      "description": "Git Access Check Controller"
    },
    {
      "name": "github-repository-controller",
      "description": "Github Repository Controller"
    },
    {
      "name": "gitlab-repository-controller",
      "description": "Gitlab Repository Controller"
    },
    {
      "name": "hook-github-controller",
      "description": "Hook Github Controller"
    },
    {
      "name": "hook-gitlab-controller",
      "description": "Hook Gitlab Controller"
    },
    {
      "name": "hook-user-controller",
      "description": "Hook User Controller"
    },
    {
      "name": "infrastructure-init-controller",
      "description": "Infrastructure Init Controller"
    },
    {
      "name": "infrastructure-update-all-controller",
      "description": "Infrastructure Update All Controller"
    },
    {
      "name": "o-auth-token-controller",
      "description": "O Auth Token Controller"
    },
    {
      "name": "organization-billing-card-controller",
      "description": "Organization Billing Card Controller"
    },
    {
      "name": "organization-billing-controller",
      "description": "Organization Billing Controller"
    },
    {
      "name": "organization-billing-info-controller",
      "description": "Organization Billing Info Controller"
    },
    {
      "name": "organization-billing-invoice-controller",
      "description": "Organization Billing Invoice Controller"
    },
    {
      "name": "organization-build-platform-controller",
      "description": "Organization Build Platform Controller"
    },
    {
      "name": "organization-cloud-account-controller",
      "description": "Organization Cloud Account Controller"
    },
    {
      "name": "organization-cloud-account-kubernetes-controller",
      "description": "Organization Cloud Account Kubernetes Controller"
    },
    {
      "name": "organization-container-registry-controller",
      "description": "Organization Container Registry Controller"
    },
    {
      "name": "organization-controller",
      "description": "Organization Controller"
    },
    {
      "name": "organization-dns-provider-controller",
      "description": "Organization DNS Provider Controller"
    },
    {
      "name": "organization-init-controller",
      "description": "Organization Init Controller"
    },
    {
      "name": "organization-logo-controller",
      "description": "Organization Logo Controller"
    },
    {
      "name": "organization-member-controller",
      "description": "Organization Member Controller"
    },
    {
      "name": "organization-member-invite-controller",
      "description": "Organization Member Invite Controller"
    },
    {
      "name": "organization-policy-controller",
      "description": "Organization Policy Controller"
    },
    {
      "name": "organization-project-application-check-controller",
      "description": "Organization Project Application Check Controller"
    },
    {
      "name": "organization-project-application-deploy-controller",
      "description": "Organization Project Application Deploy Controller"
    },
    {
      "name": "organization-project-controller",
      "description": "Organization Project Controller"
    },
    {
      "name": "organization-project-template-controller",
      "description": "Organization Project Template Controller"
    },
    {
      "name": "organization-role-controller",
      "description": "Organization Role Controller"
    },
    {
      "name": "organization-service-controller",
      "description": "Organization Service Controller"
    },
    {
      "name": "project-controller",
      "description": "Project Controller"
    },
    {
      "name": "project-environment-application-commit-deploy-controller",
      "description": "Project Environment Application Commit Deploy Controller"
    },
    {
      "name": "project-environment-application-controller",
      "description": "Project Environment Application Controller"
    },
    {
      "name": "project-environment-application-environment-variable-controller",
      "description": "Project Environment Application Environment Variable Controller"
    },
    {
      "name": "project-environment-application-log-controller",
      "description": "Project Environment Application Log Controller"
    },
    {
      "name": "project-environment-broker-controller",
      "description": "Project Environment Broker Controller"
    },
    {
      "name": "project-environment-controller",
      "description": "Project Environment Controller"
    },
    {
      "name": "project-environment-database-controller",
      "description": "Project Environment Database Controller"
    },
    {
      "name": "project-environment-deploy-controller",
      "description": "Project Environment Deploy Controller"
    },
    {
      "name": "project-environment-deployment-controller",
      "description": "Project Environment Deployment Controller"
    },
    {
      "name": "project-environment-deployment-status-controller",
      "description": "Project Environment Deployment Status Controller"
    },
    {
      "name": "project-environment-environment-variable-controller",
      "description": "Project Environment Environment Variable Controller"
    },
    {
      "name": "project-environment-log-controller",
      "description": "Project Environment Log Controller"
    },
    {
      "name": "project-environment-router-controller",
      "description": "Project Environment Router Controller"
    },
    {
      "name": "project-environment-service-controller",
      "description": "Project Environment Service Controller"
    },
    {
      "name": "project-environment-unknown-controller",
      "description": "Project Environment Unknown Controller"
    },
    {
      "name": "project-environment-variable-controller",
      "description": "Project Environment Variable Controller"
    },
    {
      "name": "readiness-controller",
      "description": "Readiness Controller"
    },
    {
      "name": "technology-controller",
      "description": "Technology Controller"
    }
  ],
  "paths": {
    "/api/v1/account": {
      "get": {
        "tags": [
          "account-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "account-controller"
        ],
        "summary": "update",
        "operationId": "updateUsingPUT",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User_1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "user"
      }
    },
    "/api/v1/account/auth-provider": {
      "get": {
        "tags": [
          "account-auth-provider-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«AuthProvider»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/cluster/lock": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "getAll",
        "operationId": "getAllUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterLock"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "admin-controller"
        ],
        "summary": "lockAll",
        "operationId": "lockAllUsingPUT",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "clusterLockRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterLockRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterLock"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "clusterLockRequest"
      },
      "delete": {
        "tags": [
          "admin-controller"
        ],
        "summary": "unlockAll",
        "operationId": "unlockAllUsingDELETE",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "clusterLockRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterLockRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterLock"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "clusterLockRequest"
      }
    },
    "/api/v1/admin/cluster/{kubernetesId}/lock": {
      "put": {
        "tags": [
          "admin-controller"
        ],
        "summary": "lock",
        "operationId": "lockUsingPUT",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kubernetesId",
            "in": "path",
            "description": "kubernetesId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "clusterLockRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterLockRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterLock"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "clusterLockRequest"
      },
      "delete": {
        "tags": [
          "admin-controller"
        ],
        "summary": "unlock",
        "operationId": "unlockUsingDELETE",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kubernetesId",
            "in": "path",
            "description": "kubernetesId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterLock"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/deployment": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "deployment",
        "operationId": "deploymentUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "deploymentRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "deploymentRequest"
      }
    },
    "/api/v1/admin/management-token": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "managementToken",
        "operationId": "managementTokenUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Auth0ApiManagementTokensResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/organization/{organizationName}": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "addUserToOrganization",
        "operationId": "addUserToOrganizationUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationName",
            "in": "path",
            "description": "organizationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "userInfo",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMember"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "userInfo"
      }
    },
    "/api/v1/agent-version": {
      "get": {
        "tags": [
          "agent-version-controller"
        ],
        "summary": "latestVersion",
        "operationId": "latestVersionUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "query",
            "description": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CorePublisher«AgentVersion»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "agent-version-controller"
        ],
        "summary": "setVersion",
        "operationId": "setVersionUsingPUT",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "query",
            "description": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "agent-version-controller"
        ],
        "summary": "eraseVersion",
        "operationId": "eraseVersionUsingDELETE",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "query",
            "description": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/cloud": {
      "get": {
        "tags": [
          "cloud-provider-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«CloudProvider»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/cloud/aws/validate": {
      "post": {
        "tags": [
          "cloud-account-validate-controller"
        ],
        "summary": "checkAWS",
        "operationId": "checkAWSUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "credentials",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AWSCredentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CloudAccountValidateResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "credentials"
      }
    },
    "/api/v1/cloud/{cloudId}/region": {
      "get": {
        "tags": [
          "cloud-provider-region-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudId",
            "in": "path",
            "description": "cloudId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«CloudProviderRegion»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/configuration/check": {
      "post": {
        "tags": [
          "configuration-check-controller"
        ],
        "summary": "check",
        "operationId": "checkUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "config",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LocalConfigurationResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "config"
      }
    },
    "/api/v1/configuration/generate": {
      "post": {
        "tags": [
          "configuration-controller"
        ],
        "summary": "generate",
        "operationId": "generateUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "json",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "json"
      }
    },
    "/api/v1/e2e/cleanup": {
      "get": {
        "tags": [
          "e-2-e-controller"
        ],
        "summary": "cleanup",
        "operationId": "cleanupUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/engine-version": {
      "get": {
        "tags": [
          "engine-version-controller"
        ],
        "summary": "latestVersion",
        "operationId": "latestVersionUsingGET_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "query",
            "description": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CorePublisher«EngineVersion»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "engine-version-controller"
        ],
        "summary": "setVersion",
        "operationId": "setVersionUsingPUT_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "query",
            "description": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "engine-version-controller"
        ],
        "summary": "eraseVersion",
        "operationId": "eraseVersionUsingDELETE_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "query",
            "description": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/git/access/check": {
      "get": {
        "tags": [
          "git-access-check-controller"
        ],
        "summary": "check",
        "operationId": "checkUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GitAccessStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/github/repository": {
      "get": {
        "tags": [
          "github-repository-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«GitRepositories»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/gitlab/repository": {
      "get": {
        "tags": [
          "gitlab-repository-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_3",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«GitRepositories»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/hook/github/enable": {
      "post": {
        "tags": [
          "hook-github-controller"
        ],
        "summary": "enable",
        "operationId": "enableUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GithubEnable"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "data"
      }
    },
    "/api/v1/hook/gitlab/enable": {
      "post": {
        "tags": [
          "hook-gitlab-controller"
        ],
        "summary": "enable",
        "operationId": "enableUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitlabEnable"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "data"
      }
    },
    "/api/v1/hook/user": {
      "post": {
        "tags": [
          "hook-user-controller"
        ],
        "summary": "update",
        "operationId": "updateUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserHook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "user"
      }
    },
    "/api/v1/hook/user/link-accounts": {
      "put": {
        "tags": [
          "hook-user-controller"
        ],
        "summary": "link",
        "operationId": "linkUsingPUT",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "mergeRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergeAccountsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "mergeRequest"
      }
    },
    "/api/v1/infrastructure/destroy": {
      "post": {
        "tags": [
          "infrastructure-init-controller"
        ],
        "summary": "destroy",
        "operationId": "destroyUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noop",
            "in": "query",
            "description": "noop",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "infrastructureRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalInfrastructureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "infrastructureRequest"
      }
    },
    "/api/v1/infrastructure/init": {
      "post": {
        "tags": [
          "infrastructure-init-controller"
        ],
        "summary": "init",
        "operationId": "initUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noop",
            "in": "query",
            "description": "noop",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "infrastructureRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalInfrastructureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "infrastructureRequest"
      }
    },
    "/api/v1/infrastructure/init/{clusterId}": {
      "post": {
        "tags": [
          "infrastructure-init-controller"
        ],
        "summary": "initWithId",
        "operationId": "initWithIdUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "description": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/infrastructure/remove": {
      "post": {
        "tags": [
          "infrastructure-init-controller"
        ],
        "summary": "remove",
        "operationId": "removeUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noop",
            "in": "query",
            "description": "noop",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "organization",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveOrganizationInfrastructureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "organization"
      }
    },
    "/api/v1/infrastructure/update/all": {
      "post": {
        "tags": [
          "infrastructure-update-all-controller"
        ],
        "summary": "updateAll",
        "operationId": "updateAllUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noop",
            "in": "query",
            "description": "noop",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/organization": {
      "get": {
        "tags": [
          "organization-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET_7",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«Organization»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "organization-controller"
        ],
        "summary": "create",
        "operationId": "createUsingPOST_5",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "organization",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organization_2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "organization"
      }
    },
    "/api/v1/organization/private": {
      "get": {
        "tags": [
          "organization-controller"
        ],
        "summary": "getPrivate",
        "operationId": "getPrivateUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/organization/{organizationId}": {
      "get": {
        "tags": [
          "organization-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_13",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "organization-controller"
        ],
        "summary": "update",
        "operationId": "updateUsingPUT_6",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "organization",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organization_2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "organization"
      },
      "delete": {
        "tags": [
          "organization-controller"
        ],
        "summary": "delete",
        "operationId": "deleteUsingDELETE_5",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/organization/{organizationId}/billing": {
      "get": {
        "tags": [
          "organization-billing-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_5",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Billing"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/organization/{organizationId}/billing/card": {
      "get": {
        "tags": [
          "organization-billing-card-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«BillingCardResponse»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "organization-billing-card-controller"
        ],
        "summary": "create",
        "operationId": "createUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "billingCard",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCardResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "billingCard"
      }
    },
    "/api/v1/organization/{organizationId}/billing/card/{cardId}": {
      "get": {
        "tags": [
          "organization-billing-card-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_4",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "cardId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCardResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "organization-billing-card-controller"
        ],
        "summary": "delete",
        "operationId": "deleteUsingDELETE",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "cardId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/organization/{organizationId}/billing/info": {
      "get": {
        "tags": [
          "organization-billing-info-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_6",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "organization-billing-info-controller"
        ],
        "summary": "update",
        "operationId": "updateUsingPUT_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "billingInfo",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingInfo_1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInfo"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "billingInfo"
      }
    },
    "/api/v1/organization/{organizationId}/billing/invoice": {
      "get": {
        "tags": [
          "organization-billing-invoice-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_8",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«BillingInvoice»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/organization/{organizationId}/billing/invoice/{invoiceId}/pdf": {
      "get": {
        "tags": [
          "organization-billing-invoice-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_7",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePdf"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/organization/{organizationId}/build-platform": {
      "get": {
        "tags": [
          "organization-build-platform-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET_3",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«BuildPlatform»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "organization-build-platform-controller"
        ],
        "summary": "create",
        "operationId": "createUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "buildPlatform",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildPlatform"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BuildPlatform_1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "buildPlatform"
      }
    },
    "/api/v1/organization/{organizationId}/build-platform/{buildPlatformId}": {
      "get": {
        "tags": [
          "organization-build-platform-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_9",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildPlatformId",
            "in": "path",
            "description": "buildPlatformId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BuildPlatform_1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "organization-build-platform-controller"
        ],
        "summary": "update",
        "operationId": "updateUsingPUT_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildPlatformId",
            "in": "path",
            "description": "buildPlatformId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "buildPlatform",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildPlatform"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BuildPlatform_1"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "buildPlatform"
      },
      "delete": {
        "tags": [
          "organization-build-platform-controller"
        ],
        "summary": "delete",
        "operationId": "deleteUsingDELETE_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildPlatformId",
            "in": "path",
            "description": "buildPlatformId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/organization/{organizationId}/cloud-account": {
      "get": {
        "tags": [
          "organization-cloud-account-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET_4",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«CloudAccount»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "organization-cloud-account-controller"
        ],
        "summary": "create",
        "operationId": "createUsingPOST_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "cloudAccount",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudAccount_1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CloudAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "cloudAccount"
      }
    },
    "/api/v1/organization/{organizationId}/cloud-account/{cloudAccountId}": {
      "get": {
        "tags": [
          "organization-cloud-account-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_10",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudAccountId",
            "in": "path",
            "description": "cloudAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CloudAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "organization-cloud-account-controller"
        ],
        "summary": "update",
        "operationId": "updateUsingPUT_3",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudAccountId",
            "in": "path",
            "description": "cloudAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "cloudAccount",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudAccount_1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CloudAccount"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "cloudAccount"
      },
      "delete": {
        "tags": [
          "organization-cloud-account-controller"
        ],
        "summary": "delete",
        "operationId": "deleteUsingDELETE_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudAccountId",
            "in": "path",
            "description": "cloudAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/organization/{organizationId}/cloud-account/{cloudAccountId}/kubernetes": {
      "get": {
        "tags": [
          "organization-cloud-account-kubernetes-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET_5",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudAccountId",
            "in": "path",
            "description": "cloudAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response«Kubernetes»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "organization-cloud-account-kubernetes-controller"
        ],
        "summary": "create",
        "operationId": "createUsingPOST_3",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudAccountId",
            "in": "path",
            "description": "cloudAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "kubernetes",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Kubernetes"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Kubernetes_1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "kubernetes"
      }
    },
    "/api/v1/organization/{organizationId}/cloud-account/{cloudAccountId}/kubernetes/{kubernetesId}": {
      "get": {
        "tags": [
          "organization-cloud-account-kubernetes-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_11",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudAccountId",
            "in": "path",
            "description": "cloudAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kubernetesId",
            "in": "path",
            "description": "kubernetesId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Kubernetes_1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "organization-cloud-account-kubernetes-controller"
        ],
        "summary": "update",
        "operationId": "updateUsingPUT_4",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudAccountId",
            "in": "path",
            "description": "cloudAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kubernetesId",
            "in": "path",
            "description": "kubernetesId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "kubernetes",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Kubernetes"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Kubernetes_1"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "kubernetes"
      },
      "post": {
        "tags": [
          "organization-cloud-account-kubernetes-controller"
        ],
        "summary": "addNode",
        "operationId": "addNodeUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudAccountId",
            "in": "path",
            "description": "cloudAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kubernetesId",
            "in": "path",
            "description": "kubernetesId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "node",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KubernetesNode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/KubernetesNode_1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "node"
      },
      "delete": {
        "tags": [
          "organization-cloud-account-kubernetes-controller"
        ],
        "summary": "delete",
        "operationId": "deleteUsingDELETE_3",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudAccountId",
            "in": "path",
            "description": "cloudAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kubernetesId",
            "in": "path",
            "description": "kubernetesId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "organizationId",
[...]
