{
  "openapi": "3.0.1",
  "info": {
    "title": "Sage 200 Sales API",
    "description": "The aim of the Sage 200 Sales API is to expose the sales data from Sage 200 on-premise applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://sage200.sage.es/api/sales"
    }
  ],
  "paths": {
    "/Banks": {
      "post": {
        "tags": [
          "Banks"
        ],
        "summary": "Creates a bank",
        "operationId": "POST_Banks_Sync",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "X-Nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Site",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Bank resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bank"
              },
              "example": {
                "Id": "string",
                "Code": "string",
                "Name": "string",
                "BICCode": "string",
                "Timestamp": "2021-02-25T14:44:51.012Z",
                "ExtendedProperties": [
                  {
                    "Id": "string",
                    "Value": "string",
                    "MaxLength": 0,
                    "DecimalPlaces": 0,
                    "Timestamp": "2021-02-25T14:44:51.012Z",
                    "DataType": "String"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Bank"
              },
              "example": {
                "Id": "string",
                "Code": "string",
                "Name": "string",
                "BICCode": "string",
                "Timestamp": "2021-02-25T14:44:51.012Z",
                "ExtendedProperties": [
                  {
                    "Id": "string",
                    "Value": "string",
                    "MaxLength": 0,
                    "DecimalPlaces": 0,
                    "Timestamp": "2021-02-25T14:44:51.012Z",
                    "DataType": "String"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Banks/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "BICCode": "string",
                  "Timestamp": "2021-02-25T14:44:51.012Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.012Z",
                      "DataType": "String"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Banks/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "BICCode": "string",
                  "Timestamp": "2021-02-25T14:44:51.012Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.012Z",
                      "DataType": "String"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              }
            }
          },
          "524": {
            "description": "Origin Time-out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "Returns all banks",
        "operationId": "QUERY_Banks_Sync",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 4.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Limits the number of items returned from a collection. The maximum value is 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Indicates whether the total count of items within a collection are returned in the result.",
            "schema": {
              "type": "boolean",
              "default": "False"
            }
          },
          {
            "name": "X-Nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Site",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bank"
                  }
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Banks",
                  "value": [
                    {
                      "Id": "string",
                      "Code": "string",
                      "Name": "string",
                      "BICCode": "string",
                      "Timestamp": "2021-02-25T14:44:51.019Z",
                      "ExtendedProperties": [
                        {
                          "Id": "string",
                          "Value": "string",
                          "MaxLength": 0,
                          "DecimalPlaces": 0,
                          "Timestamp": "2021-02-25T14:44:51.019Z",
                          "DataType": "String"
                        }
                      ]
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bank"
                  }
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Banks",
                  "value": [
                    {
                      "Id": "string",
                      "Code": "string",
                      "Name": "string",
                      "BICCode": "string",
                      "Timestamp": "2021-02-25T14:44:51.019Z",
                      "ExtendedProperties": [
                        {
                          "Id": "string",
                          "Value": "string",
                          "MaxLength": 0,
                          "DecimalPlaces": 0,
                          "Timestamp": "2021-02-25T14:44:51.019Z",
                          "DataType": "String"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              }
            }
          },
          "524": {
            "description": "Origin Time-out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/Banks({Id})": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "Returns a bank",
        "operationId": "GET_Banks_Sync",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Bank id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Bank id",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 4.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Orders the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Select a limited number of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips a limited number of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Count the resources in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Site",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bank"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Banks/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "BICCode": "string",
                  "Timestamp": "2021-02-25T14:44:51.028Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.028Z",
                      "DataType": "String"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bank"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Banks/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "BICCode": "string",
                  "Timestamp": "2021-02-25T14:44:51.028Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.028Z",
                      "DataType": "String"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              }
            }
          },
          "524": {
            "description": "Origin Time-out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Banks"
        ],
        "summary": "Updates a bank",
        "operationId": "PUT_Banks_Sync",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Bank id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Bank id",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "X-Nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Site",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Bank resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bank"
              },
              "example": {
                "Id": "string",
                "Code": "string",
                "Name": "string",
                "BICCode": "string",
                "Timestamp": "2021-02-25T14:44:51.034Z",
                "ExtendedProperties": [
                  {
                    "Id": "string",
                    "Value": "string",
                    "MaxLength": 0,
                    "DecimalPlaces": 0,
                    "Timestamp": "2021-02-25T14:44:51.034Z",
                    "DataType": "String"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Bank"
              },
              "example": {
                "Id": "string",
                "Code": "string",
                "Name": "string",
                "BICCode": "string",
                "Timestamp": "2021-02-25T14:44:51.034Z",
                "ExtendedProperties": [
                  {
                    "Id": "string",
                    "Value": "string",
                    "MaxLength": 0,
                    "DecimalPlaces": 0,
                    "Timestamp": "2021-02-25T14:44:51.034Z",
                    "DataType": "String"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Banks/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "BICCode": "string",
                  "Timestamp": "2021-02-25T14:44:51.034Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.034Z",
                      "DataType": "String"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Banks/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "BICCode": "string",
                  "Timestamp": "2021-02-25T14:44:51.034Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.034Z",
                      "DataType": "String"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              }
            }
          },
          "524": {
            "description": "Origin Time-out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/Cities": {
      "get": {
        "tags": [
          "Cities"
        ],
        "summary": "Returns all cities",
        "operationId": "QUERY_Cities_Sync",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 4.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100. The allowed functions are: allfunctions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Limits the number of items returned from a collection. The maximum value is 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Indicates whether the total count of items within a collection are returned in the result.",
            "schema": {
              "type": "boolean",
              "default": "False"
            }
          },
          {
            "name": "X-Nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Site",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Cities",
                  "value": [
                    {
                      "Id": "string",
                      "Code": "string",
                      "Name": "string",
                      "RegionId": "string",
                      "Timestamp": "2021-02-25T14:44:51.046Z",
                      "ExtendedProperties": [
                        {
                          "Id": "string",
                          "Value": "string",
                          "MaxLength": 0,
                          "DecimalPlaces": 0,
                          "Timestamp": "2021-02-25T14:44:51.046Z",
                          "DataType": "String"
                        }
                      ]
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Cities",
                  "value": [
                    {
                      "Id": "string",
                      "Code": "string",
                      "Name": "string",
                      "RegionId": "string",
                      "Timestamp": "2021-02-25T14:44:51.046Z",
                      "ExtendedProperties": [
                        {
                          "Id": "string",
                          "Value": "string",
                          "MaxLength": 0,
                          "DecimalPlaces": 0,
                          "Timestamp": "2021-02-25T14:44:51.046Z",
                          "DataType": "String"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              }
            }
          },
          "524": {
            "description": "Origin Time-out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/Cities({Id})": {
      "get": {
        "tags": [
          "Cities"
        ],
        "summary": "Returns a city",
        "operationId": "GET_Cities_Sync",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "City id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "City id",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Limits the properties returned in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 4.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Orders the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Select a limited number of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips a limited number of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Count the resources in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Site",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/City"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Cities/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "RegionId": "string",
                  "Timestamp": "2021-02-25T14:44:51.053Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.053Z",
                      "DataType": "String"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/City"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Cities/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "RegionId": "string",
                  "Timestamp": "2021-02-25T14:44:51.053Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.053Z",
                      "DataType": "String"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              }
            }
          },
          "524": {
            "description": "Origin Time-out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Cities"
        ],
        "summary": "Updates a city",
        "operationId": "PUT_Cities_Sync",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "City id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "City id",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "X-Nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Site",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "City resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/City"
              },
              "example": {
                "Id": "string",
                "Code": "string",
                "Name": "string",
                "RegionId": "string",
                "Timestamp": "2021-02-25T14:44:51.065Z",
                "ExtendedProperties": [
                  {
                    "Id": "string",
                    "Value": "string",
                    "MaxLength": 0,
                    "DecimalPlaces": 0,
                    "Timestamp": "2021-02-25T14:44:51.065Z",
                    "DataType": "Undefined"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/City"
              },
              "example": {
                "Id": "string",
                "Code": "string",
                "Name": "string",
                "RegionId": "string",
                "Timestamp": "2021-02-25T14:44:51.065Z",
                "ExtendedProperties": [
                  {
                    "Id": "string",
                    "Value": "string",
                    "MaxLength": 0,
                    "DecimalPlaces": 0,
                    "Timestamp": "2021-02-25T14:44:51.065Z",
                    "DataType": "Undefined"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Cities/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "RegionId": "string",
                  "Timestamp": "2021-02-25T14:44:51.065Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.065Z",
                      "DataType": "String"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "@odata.context": "https://sage200.sage.es/api/$metadata#Cities/$entity",
                  "Id": "string",
                  "Code": "string",
                  "Name": "string",
                  "RegionId": "string",
                  "Timestamp": "2021-02-25T14:44:51.065Z",
                  "ExtendedProperties": [
                    {
                      "Id": "string",
                      "Value": "string",
                      "MaxLength": 0,
                      "DecimalPlaces": 0,
                      "Timestamp": "2021-02-25T14:44:51.065Z",
                      "DataType": "String"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ValidationError",
                      "message": "The http header \"X-Site\" was not found"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ExpiredToken",
                      "message": "The oauth token is expired and is not valid anymore."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequiredScope",
                      "message": "User does not have permission to perform this action."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "ResourceNotFound",
                      "message": "The resource was not found"
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "RequestEntityTooLarge",
                      "message": "The onpremise service cannot handle the request because the payload exceeds the size allowed."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "TooManyRequests",
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "InternalServerError",
                      "message": "An unexpected error occurred while processing request."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OnPremiseUnavailable",
                      "message": "The onpremise service is disconnected or unreachable."
                    }
                  ]
                }
              }
            }
          },
          "524": {
            "description": "Origin Time-out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Void"
                },
                "example": {
                  "diagnosis": [
                    {
                      "errorCode": "OriginTimeout",
                      "message": "API is currently unavailable - typically due to a scheduled outage - try again soon"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/Colours": {
      "post": {
        "tags": [
          "Colours"
        ],
        "summary": "Creates a colour",
        "operationId": "POST_Colours_Sync",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "X-Nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Site",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Colour resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Colour"
              },
              "example": {
                "Id": "string",
                "CompanyId": "string",
                "Code": "string",
                "Name": "string",
                "Timestamp": "2021-02-25T14:44:51.081Z",
                "ExtendedProperties": [
                  {
                    "Id": "string",
                    "Value": "string",
                    "MaxLength": 0,
                    "DecimalPlaces": 0,
                    "Timestamp": "2021-02-25T14:44:51.081Z",
                    "DataType": "Undefined"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Colour"
              },
              "example": {
                "Id": "string",
                "CompanyId": "string",
                "Code": "string",
                "Name": "string",
                "Timestamp": "2021-02-25T14:44:51.081Z",
                "ExtendedProperties": [
                  {
                    "Id": "string",
                    "Value": "string",
                    "MaxLength": 0,
                    "DecimalPlaces": 0,
                    "Timestamp": "2021-02-25T14:44:51.081Z",
                    "DataType": "Undefined"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
[...]
